body{

margin:0;
font-family:Arial;
background:#111;
color:white;
}


header{

padding:20px;
background:#181818;
display:flex;
justify-content:space-between;

}


nav a{

color:white;
text-decoration:none;
margin:10px;

}


.hero{

text-align:center;
padding:80px 20px;

}


.button{

display:inline-block;

background:#f5c542;

color:black;

padding:12px 25px;

border-radius:10px;

text-decoration:none;

border:none;

cursor:pointer;

}


.games{

text-align:center;
padding:40px;

}


.cards{

display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;

}


.card,.box{

background:#222;
padding:25px;
border-radius:15px;

}


.card{

width:220px;

}


.box{

width:300px;
margin:80px auto;
text-align:center;

}


input{

display:block;
width:90%;
padding:10px;
margin:10px auto;

}


.staff,footer{

text-align:center;
padding:30px;

}
