body {
    margin:0;
    font-family:Arial;
    background:#111;
    color:white;
}


header {
    display:flex;
    justify-content:space-between;
    padding:20px;
    background:#181818;
}


nav a {
    color:white;
    margin:10px;
    text-decoration:none;
}


button {
    background:#f5c542;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
}


.hero {
    text-align:center;
    padding:80px 20px;
}


.games {
    padding:30px;
}


.cards {
    display:flex;
    gap:20px;
}


.card {
    background:#222;
    padding:20px;
    border-radius:15px;
    width:200px;
}


.staff {
    text-align:center;
    padding:40px;
}


footer {
    text-align:center;
    padding:20px;
    background:#181818;
}
